
.sp-icon {
  background-image: url('/sprite/icon.png?_t=1473486180942');
}

.sp-icon-act {
  background-position: -0px -0px;
  width: 75px;
  height: 75px;
}
.sp-icon-back {
  background-position: -0px -75px;
  width: 75px;
  height: 75px;
}
.sp-icon-heart {
  background-position: -0px -150px;
  width: 75px;
  height: 75px;
}
.sp-icon-remark {
  background-position: -0px -225px;
  width: 75px;
  height: 75px;
}
.sp-icon-zan {
  background-position: -0px -300px;
  width: 75px;
  height: 75px;
}
