
.sp-icon
  background-image url('/sprite/icon.png?_t=1473486180942')
  background-size 100% auto

.sp-icon-act
  width rem(75)
  height rem(75)
.sp-icon-back
  background-position 0 rem(-75)
  width rem(75)
  height rem(75)
.sp-icon-heart
  background-position 0 rem(-150)
  width rem(75)
  height rem(75)
.sp-icon-remark
  background-position 0 rem(-225)
  width rem(75)
  height rem(75)
.sp-icon-zan
  background-position 0 rem(-300)
  width rem(75)
  height rem(75)
