@import "/style/common.styl";
@import "icon.styl";

/* 图文直播 */
.lv-piclive
  .pic
    height rem(300)
    background-color #eee
    overflow hidden
  .note
    padding rem(20) rem(25)
    background-color #fff
    border-bottom solid rem(10) #eee
    color #535353
    line-height 1.5

/* 音视频直播 */
.lv-live
  height rem(422)
  .fixed
    position fixed
    left 0
    right 0
    top 0
    z-index 50

.lv-piclive, .lv-live
  .player
    position relative
    margin auto
    width rem(750)
    .title
      position absolute
      width rem(750)
      line-height rem(75)
      color #fff
      background linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0))
      em
        float left
    .comein
      position absolute
      right rem(20)
      bottom rem(20)
      padding rem(5) rem(20)
      border-radius rem(40)
      color #fff
      background-color rgba(0,0,0,0.5)
    video
      display block
      width rem(750)
      height rem(422)

.lv-news
  li
    padding rem(25) rem(20) rem(25) rem(125)
    border-bottom solid 1px #e5e5e5
    .headpic
      position absolute
      margin-left rem(-100)
      width rem(80)
      height rem(80)
      border-radius 50%
      overflow hidden
      img
        display block
        width 100%
    .uname
      color #5885d7
    .content
      margin-top rem(10)
      color #707070
      line-height 1.5
    .imgwrap
      span
        float left
        margin-top rem(10)
        width rem(330)
        height rem(200)
        overflow hidden
    .imgwrap2
      span
        float left
        margin rem(10) rem(10) 0 0
        width rem(260)
        height rem(196)
        overflow hidden
    .down
      position relative
      margin-top rem(20)
      color #b5b5b5
      span
        height rem(45)
        line-height @height
        overflow hidden
      .act
        position absolute
        top rem(-15)
        right rem(-18)
      .actlayer
        position absolute
        top rem(-15)
        right rem(45)
        background-color #535353
        line-height rem(75)
        color #fff
        border-radius rem(10)
        p
          float left
          padding 0 rem(40) 0 rem(75)
          &.line
            margin rem(15) rem(5)
            padding 0
            width 1px
            height rem(45)
            background-color #313131
            overflow hidden
        em
          position absolute
          margin 1px 0 0 rem(-65)

    .remark
      background-color #f3f3f5
      margin-top rem(22)
      .arrow
        position absolute
        margin rem(-16) 0 0 rem(28)
        border solid rem(18) #f3f3f5
        border-color transparent transparent #f3f3f5 transparent
        border-top none
      .zan
        position relative
        color #7399bd
        em
          position absolute
          top 0
          left 0
        p
          text-indent rem(45)
          padding rem(14) rem(20)
          word-break break-all
          line-height 1.5
      .line
        height 1px
        background-color #e5e5e5
        overflow hidden
      .list
        padding rem(20)
        color #707070
        line-height 1.4
        p
          margin-top rem(14)
          &:first-child
            margin 0
          span
            color #7399bd

.lv-more
  padding rem(50)
  text-align center
  color #666

